<div class="col-md-12">
  <div class="group text-right">
    <%= link_to("New Link", new_link_path() , class: "btn btn-sm btn-default")%>
  </div>

  <div class="col-md-12">
    <% @links.each do |link| %>
    <h3><%= link_to(link.title ,link_path(link)) %> </h3>
    <p>
      Post by <b><%= link.user.email %></b>
    </p>
    <hr />
    <% end %>
  </div>

</div>
